In [1]:
import pandas as pd

In [2]:
DATASET_PATH = '../dataset/OBC_Cleaned.csv'

GUILTY_DATASET_PATH = '../dataset/split/guilty_split.csv'
NOT_GUILTY_DATASET_PATH = '../dataset/split/not_guilty_split_X.csv'

In [3]:
df = pd.read_csv(DATASET_PATH)

df.head()

,Trial_ID,Date,Defendant_Gender,Num_Defendants,Victim_Gender,Num_Victims,Offence,Offence_Subcategory,Verdict,Text_Length,Year,Trial_Text
0,t18300218-1,1830-02-18,male,2,male,2,theft,theftFromPlace,guilty,12825,1830,irst london jury recorder thmas saggers jeremi...
1,t18300218-2,1830-02-18,male,1,male,2,theft,housebreaking,guilty,7208,1830,gerge williams indict feloniously break enter ...
2,t18300218-3,1830-02-18,male,1,male,1,theft,theftFromPlace,guilty,4256,1830,irst london jury recorder rbert arthing indict...
3,t18300218-4,1830-02-18,male,2,female,4,theft,housebreaking,guilty,11313,1830,henry richards thmas burdett indict feloniousl...
4,t18300218-5,1830-02-18,male,1,male,1,theft,animalTheft,guilty,2438,1830,second middlesex jury justice bayley william j...

In [4]:
df['Verdict'].value_counts()

Verdict
guilty       31253
notGuilty    12136
Name: count, dtype: int64

In [5]:
guilty_df = df[df['Verdict'] == 'guilty'].copy()
guilty_df = guilty_df.reset_index(drop=True)
df[['Trial_Text']] = df[['Trial_Text']].replace('\n', '', regex=True)

guilty_df.head()

,Trial_ID,Date,Defendant_Gender,Num_Defendants,Victim_Gender,Num_Victims,Offence,Offence_Subcategory,Verdict,Text_Length,Year,Trial_Text
0,t18300218-1,1830-02-18,male,2,male,2,theft,theftFromPlace,guilty,12825,1830,irst london jury recorder thmas saggers jeremi...
1,t18300218-2,1830-02-18,male,1,male,2,theft,housebreaking,guilty,7208,1830,gerge williams indict feloniously break enter ...
2,t18300218-3,1830-02-18,male,1,male,1,theft,theftFromPlace,guilty,4256,1830,irst london jury recorder rbert arthing indict...
3,t18300218-4,1830-02-18,male,2,female,4,theft,housebreaking,guilty,11313,1830,henry richards thmas burdett indict feloniousl...
4,t18300218-5,1830-02-18,male,1,male,1,theft,animalTheft,guilty,2438,1830,second middlesex jury justice bayley william j...

In [6]:
guilty_df.shape

(31253, 12)

In [7]:
guilty_df.to_csv(GUILTY_DATASET_PATH, index=False)

In [8]:
not_guilty_df = df[df['Verdict'] == 'notGuilty'].copy()
not_guilty_df = not_guilty_df.reset_index(drop=True)

not_guilty_df.head()

,Trial_ID,Date,Defendant_Gender,Num_Defendants,Victim_Gender,Num_Victims,Offence,Offence_Subcategory,Verdict,Text_Length,Year,Trial_Text
0,t18300218-8,1830-02-18,male,1,female,3,theft,burglary,notGuilty,11025,1830,james webber indict feloniously sacrialigiousl...
1,t18300218-19,1830-02-18,male,1,male,1,theft,pocketpicking,notGuilty,2552,1830,william jnes indict steal january handkerchief...
2,t18300218-27,1830-02-18,male,1,female,1,theft,simpleLarceny,notGuilty,4542,1830,william abercrmbie indict steal december handk...
3,t18300218-36,1830-02-18,female,1,male,1,theft,simpleLarceny,notGuilty,267,1830,agnes cnnell indict steal ebruary lb weight ha...
4,t18300218-53,1830-02-18,male,1,male,1,theft,simpleLarceny,notGuilty,2359,1830,jhn taylr indict steal january set gig harness...

In [9]:
not_guilty_df.shape

(12136, 12)

In [10]:
CHUNK_SIZE = 1000
total_chunks = len(not_guilty_df) // CHUNK_SIZE + (1 if len(not_guilty_df) % CHUNK_SIZE != 0 else 0)

In [11]:
for i in range(total_chunks):
    start_idx = i * CHUNK_SIZE 
    end_idx = start_idx + CHUNK_SIZE
    chunk = not_guilty_df[start_idx:end_idx]
    chunk.to_csv(NOT_GUILTY_DATASET_PATH.replace('X', str(i+1)), index=False)